.winter div,
.winter div:after {
  background: red;
  line-height: 1.5;
  transition: all 0.5s;
}
.winter div .breadcrumbPopup {
  background-color: red;
}
.winter div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.winter a,
.winter a:hover {
  color: yellow;
  padding-left: 8px;
}
.winter div:hover,
.winter div.active,
.winter div:hover:after,
.winter div.active:after {
  background: blue;
  line-height: 2;
}
.decision div,
.decision div:after {
  background: #0cb6e7;
  line-height: 1.5;
  transition: all 0.5s;
}
.decision div .breadcrumbPopup {
  background-color: #0cb6e7;
}
.decision div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.decision a,
.decision a:hover {
  color: white;
  padding-left: 8px;
}
.decision div:hover,
.decision div.active,
.decision div:hover:after,
.decision div.active:after {
  background: #78e2eb;
  line-height: 2;
}
.summer div,
.summer div:after {
  background: #899ee7;
  line-height: 1.5;
  transition: all 0.5s;
}
.summer div .breadcrumbPopup {
  background-color: #899ee7;
}
.summer div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.summer a,
.summer a:hover {
  color: #e0e78a;
  padding-left: 8px;
}
.summer div:hover,
.summer div.active,
.summer div:hover:after,
.summer div.active:after {
  background: #3bc3ff;
  line-height: 2;
}
.ui-button {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  line-height: 1;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: solid 1px gray;
  color: #0cb6e7;
  transition: all 0.5s;
}
.ui-button:hover {
  color: whitesmoke;
  background-color: gray;
  transform: rotate(90deg);
  border: solid 1px white;
}
.ui-button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
