.winter div,
.winter div:after {
  background: red;
  line-height: 1.5;
  transition: all 0.5s;
}
.winter div .breadcrumbPopup {
  background-color: red;
}
.winter div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.winter a,
.winter a:hover {
  text-decoration: none;
  color: yellow;
  padding-left: 8px;
}
.winter div:hover,
.winter div.active,
.winter div:hover:after,
.winter div.active:after {
  background: blue;
  line-height: 2;
}
.winter div.searchBox {
  width: 300px;
  background-color: transparent;
  line-height: 1;
}
.winter div.searchBox .inputClass {
  background: white;
}
.winter .searchBox .inputClass {
  width: 300px;
}
.winter .ui-button {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  line-height: 1;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: solid 0px gray;
  background-color: transparent;
  color: green;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.winter .ui-button:hover {
  color: whitesmoke;
  background-color: transparent;
  transform: rotate(90deg);
  border: solid 0px white;
}
.decision div,
.decision div:after {
  background: #0cb6e7;
  line-height: 1.5;
  transition: all 0.5s;
}
.decision div .breadcrumbPopup {
  background-color: #0cb6e7;
}
.decision div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.decision a,
.decision a:hover {
  text-decoration: none;
  color: white;
  padding-left: 8px;
}
.decision div:hover,
.decision div.active,
.decision div:hover:after,
.decision div.active:after {
  background: #78e2eb;
  line-height: 2;
}
.decision div.searchBox {
  width: 300px;
  background-color: transparent;
  line-height: 1;
}
.decision div.searchBox .inputClass {
  background: white;
}
.decision .searchBox .inputClass {
  width: 300px;
}
.decision .ui-button {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  line-height: 1;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: solid 0px gray;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.decision .ui-button:hover {
  color: whitesmoke;
  background-color: transparent;
  transform: rotate(90deg);
  border: solid 0px white;
}
.summer div,
.summer div:after {
  background: #899ee7;
  line-height: 1.5;
  transition: all 0.5s;
}
.summer div .breadcrumbPopup {
  background-color: #899ee7;
}
.summer div .breadcrumbPopup.next-link {
  background-color: gray;
  color: white;
}
.summer a,
.summer a:hover {
  text-decoration: none;
  color: #e0e78a;
  padding-left: 8px;
}
.summer div:hover,
.summer div.active,
.summer div:hover:after,
.summer div.active:after {
  background: #3bc3ff;
  line-height: 2;
}
.summer div.searchBox {
  width: 300px;
  background-color: transparent;
  line-height: 1;
}
.summer div.searchBox .inputClass {
  background: white;
}
.summer .searchBox .inputClass {
  width: 300px;
}
.summer .ui-button {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  line-height: 1;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: solid 0px gray;
  background-color: transparent;
  color: red;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.summer .ui-button:hover {
  color: whitesmoke;
  background-color: transparent;
  transform: rotate(90deg);
  border: solid 0px white;
}
