.breadcrumb {
  .breadcrumb-colors(#0cb6e7, white, #78e2eb, white)
}

.breadcrumb-colors(@item-background-color, @text-color, @hover-background-color, @arrow-color) {
  div,
  div:after {
    background: @item-background-color;
    line-height: 1.5;
    transition: all 0.5s;

  }

  div {
    & .breadcrumbPopup {
      background-color: @item-background-color;
      &.next-link {
        background-color: gray;
        color: white;
      }
    }
  }

  a,
  a:hover {
    text-decoration: none;
    color: @text-color;
    padding-left: 8px;

  }

  div:hover,
  div.active,
  div:hover:after,
  div.active:after {
    background: @hover-background-color;
  }

  .searchBox .inputClass {
    width: 300px;
    background-color: @text-color;
    color: @item-background-color;
  }

  .ui-button {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none !important;
    line-height: 1;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: solid 0px gray;
    background-color: transparent;
    color: @arrow-color;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;

    &:hover {
      color: whitesmoke;
      background-color: transparent;
      transform: rotate(90deg);
      border: solid 0px white;
    }
  }

}
