<span *ngIf="isShowBreadcrumbDropDown">                    
                    <button #btn3  class="ui-button" (click)="setInitialFilter($event)">
                        &#10148;
                    </button>
                    <div class="popover" *ngIf="showPopup">
                      <span class="breadcrumbPopup">
                        <h4 *ngIf="breadcrumbDropDown.popupTitle">{{breadcrumbDropDown.popupTitle}}</h4>
                        <dcn-search-box 
                            [searchData]="search" 
                            [minLength]="0" 
                            (results)="onFilter($event)" 
                            >              
                        </dcn-search-box>

                        <div style="max-height: 150px;overflow: auto" >
                            <div *ngFor="let nextLink of filteredItems"  class="next-link">
                    
                                <a [routerLink]="[nextLink.url, nextLink.params?nextLink.params:{}]" >
                                <i  *ngIf="nextLink.icon" class="{{nextLink.icon}} icon" ></i>
                                {{nextLink.label}}</a>
                            </div>
                        </div>
                        </span>
</div>
</span>